.home {
  position: relative;
  height: 100vh;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.card:hover {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="number"] {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  background-color: aliceblue;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 5px;
}

input[type="number"] {
  width: 39%;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  width: 4rem;
  padding: 5px;
  border-radius: 0.5rem;
  border: none;
}

input[type="submit"]:hover {
  background-color: skyblue;
  color: black;
  cursor: pointer;
}

footer {
  bottom: 0;
  margin: 1.2rem;
  position: absolute;
}

button {
  background-color: #4a4a4a;
  color: #dadada;
  width: 4rem;
  padding: 5px;
  border-radius: 0.5rem;
  border: none;
}

button:hover {
  background-color: #dadada;
  color: #4a4a4a;
  cursor: pointer;
}
